:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #090823;
}
.container {
  max-width: 1440px;
  background: var(--color1);
  padding: 0 122px;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color2);
}
.nav {
  justify-content: flex-end;
}
.hero-container {
  padding: 138px 122px 0;
}
.hero-img {
  display: block;
  max-width: 636px;
}
.price-block {
  color: var(--color2);
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.price-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-num {
  font-size: 24px;
}
.btn-block {
  padding-bottom: 40px;
}
.project-container {
  padding: 0 122px 186px;
}
.card {
  max-width: 374px;
  background: #090823;
  padding: 18px 20px 37px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.btn-block {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.btn-gradient {
  color: var(--color2);
  background: linear-gradient(to right, #d10ed1 0%, #10a3da 100%);
}
.btn-border {
  border: 1px solid #d10ed1;
  color: var(--color2);
}
.slider-container {
  padding-bottom: 224px;
}
.footer-container {
  background: var(--color3);
}
